.homecourseHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}

.hcheaderright{
    display: flex;
    gap: 30px;
}

.longsearchbar{
    width: 1103px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 40px;
    background: rgba(172, 113, 24, 0.16);
    margin-left: 205px;
    box-shadow: opx opx 0px 8x rgba(172, 113, 24, 0.16) ;
    align-items: center;
    display: flex;
}

#serachIcon2{
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    color: #856029;
    padding-left: 15px;
}

.SearchBox2-main{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: none;
    padding-left: 15px;
    height: 100%;
    width: 100%;
}

.SearchBox2-main:focus{
    outline: none;
} 

.hclistofcourses{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1287px;
    height: 532px;
    flex-shrink: 0;
    margin-left: 113px;
    margin-right: 113px;
    margin-bottom: 100px;
    padding-top: 50px;
}

.hcline1{
    width: 399px;
    height: 532px;
    flex-shrink: 0;
}

.hcline2{
    width: 399px;
    height: 532px;
    flex-shrink: 0;
}

.hcline3{
    width: 399px;
    height: 532px;
    flex-shrink: 0;
}

.firstcourse{
    width: 399px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(172, 113, 24, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.boxc1{
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-left: 34px;
}

.c1{
    width: 47.953px;
    height: 48px;
    flex-shrink: 0;
    padding: 19px;
}

.ctext1{
    margin-left: 20px;
}

.coursetext1{
    color: #000;
    font-family: Amaranth;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtext1{
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.firstcourse:hover{
    width: 405px;
    height: 145px;
    flex-shrink: 0;
}

.secondcourse{
    margin-top: 56px;
    width: 399px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(172, 113, 24, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.boxc2{
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-left: 34px;
}

.c2{
    width: 47.953px;
    height: 48px;
    flex-shrink: 0;
    padding: 19px;
}

.ctext2{
    margin-left: 20px;
}

.coursetext2{
    color: #000;
    font-family: Amaranth;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtext2{
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.secondcourse:hover{
    width: 405px;
    height: 145px;
    flex-shrink: 0;
}

.thirdcourse{
    margin-top: 56px;
    width: 399px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(172, 113, 24, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.boxc3{
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-left: 34px;
}

.c3{
    width: 47.953px;
    height: 48px;
    flex-shrink: 0;
    padding: 19px;
}

.ctext3{
    margin-left: 20px;
}

.coursetext3{
    color: #000;
    font-family: Amaranth;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtext3{
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.thirdcourse:hover{
    width: 405px;
    height: 145px;
    flex-shrink: 0;
}

.fourthcourse{
    width: 399px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(172, 113, 24, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.boxc4{
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-left: 34px;
}

.c4{
    width: 47.953px;
    height: 48px;
    flex-shrink: 0;
    padding: 19px;
}

.ctext4{
    margin-left: 20px;
}

.coursetext4{
    color: #000;
    font-family: Amaranth;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtext4{
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fourthcourse:hover{
    width: 405px;
    height: 145px;
    flex-shrink: 0;
}

.fifthcourse{
    margin-top: 56px;
    width: 399px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(172, 113, 24, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.boxc5{
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-left: 34px;
}

.c5{
    width: 47.953px;
    height: 48px;
    flex-shrink: 0;
    padding: 19px;
}

.ctext5{
    margin-left: 20px;
}

.coursetext5{
    color: #000;
    font-family: Amaranth;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtext5{
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fifthcourse:hover{
    width: 405px;
    height: 145px;
    flex-shrink: 0;
}

.sixthcourse{
    margin-top: 56px;
    width: 399px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(172, 113, 24, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.boxc6{
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-left: 34px;
}

.c6{
    width: 47.953px;
    height: 48px;
    flex-shrink: 0;
    padding: 19px;
}

.ctext6{
    margin-left: 20px;
}

.coursetext6{
    color: #000;
    font-family: Amaranth;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtext6{
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sixthcourse:hover{
    width: 405px;
    height: 145px;
    flex-shrink: 0;
}

.seventhcourse{
    width: 399px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(172, 113, 24, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.boxc7{
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-left: 34px;
}

.c7{
    width: 47.953px;
    height: 48px;
    flex-shrink: 0;
    padding: 19px;
}

.ctext7{
    margin-left: 20px;
}

.coursetext7{
    color: #000;
    font-family: Amaranth;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtext7{
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.seventhcourse:hover{
    width: 405px;
    height: 145px;
    flex-shrink: 0;
}

.eighthcourse{
    margin-top: 56px;
    width: 399px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(172, 113, 24, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.boxc8{
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-left: 34px;
}

.c8{
    width: 47.953px;
    height: 48px;
    flex-shrink: 0;
    padding: 19px;
}

.ctext8{
    margin-left: 20px;
}

.coursetext8{
    color: #000;
    font-family: Amaranth;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtext8{
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.eighthcourse:hover{
    width: 405px;
    height: 145px;
    flex-shrink: 0;
}

.ninthcourse{
    margin-top: 56px;
    width: 399px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(172, 113, 24, 0.12);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.boxc9{
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-left: 34px;
}

.c9{
    width: 47.953px;
    height: 48px;
    flex-shrink: 0;
    padding: 19px;
}

.ctext9{
    margin-left: 20px;
}

.coursetext9{
    color: #000;
    font-family: Amaranth;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtext9{
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ninthcourse:hover{
    width: 405px;
    height: 145px;
    flex-shrink: 0;
}